.rateButton {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 25px;
    text-align: center;
    font-size: 12px;
    cursor: pointer;
    transform:  rotate(0deg);
    position: absolute;
    width: 130px;
    height: 40px;
    top: 258px;
    left: 600px;
    z-index: 33;
}

.deviceButton {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 25px;
    text-align: center;
    font-size: 12px;
    cursor: pointer;
    transform:  rotate(0deg);
    position: absolute;
    width: 130px;
    height: 40px;
    top: 536px;
    left: 600px;
    z-index: 33;
}

button:hover {
    background-color: green;
}

input.rate {
    width: 90px;
}