.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 25px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    transform:  rotate(0deg);
    position: absolute;
    width: 175px;
    height: 52px;
    top: 565px;
    left: 600px;
    z-index: 33;
}

.button:hover {
    background-color: green;
}

input.rate {
    width: 90px;
}